body {
    margin: 0;
    font-family: 'Lora', serif;
    min-width: 300px;
    
    
}

.nav{
    margin:0;
    color: white;
    padding: 12px;
    text-align: left;
    font-family: 'Lora';
    font-size: 40px;
    position: fixed;
    width: 100%;
    background-color: rgb(83,97,109);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.form-primero{
    padding-top: 5rem;
    background-color: rgb(249, 190, 41);
    text-align: -webkit-center;
    align-items:flex-start;
    font-size: larger;
    background-image: url(/fondo.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 10px;
}

.section{
    
    width: 300px;
    border-style: solid;
    border-width: 10px;
    border-radius: 30px;
    border-color: rgba(242, 238, 229, 0);
    align-items:flex-start;
    text-align: center;
    background-color: rgba(242, 238, 229, 0.751);
}

.form-primero input{
    width: 250px;
    align-content: center;
}

.section-f2{
    
    width:fit-content;
    max-width: 300px;
    border-style: solid;
    border-width: 10px;
    
    border-color: rgba(242, 238, 229, 0);
    align-items:flex-start;
    text-align: center;
    background-color: rgba(242, 238, 229, 0.751);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    
}

.form-segundo{
    background-color:rgb(83,97,109);
    text-align:  -webkit-center;
    align-items:flex-start;
    font-size: large;
    padding: 10px 0px;
    
}

.chart{
    min-width: 560px;
    min-height: max-content;
    background-color:rgb(38, 143, 234);
    color: rgb(255, 255, 255);
    text-align: -webkit-center;
}

#myChart{
    align-items: center;
    align-content: center;
    text-align: center;
}

.form-tercero{
    background: linear-gradient(#F69B5C,#245CA7);
    text-align: center;
    align-items:flex-start;
    font-size: large;
}

.section-f3 {
    padding-left: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: rgba(242, 238, 229, 0.751); 
    align-items: center;
    justify-items: center;
    align-self: center;
    width:fit-content;
    display:inline-flex;
    margin: 30px;
}

.col1{
    margin-right: 30px;
      
}


button{
    border-color: black;
    border-style: solid;
    background-color: gray;
    color: white;
    text-align: center;
    align-items: center;
    padding: 5px 10px;
    margin: 3px;
    border-width: 1px;
    border-radius: 7px;
}

button:hover {
    box-shadow: 0 6px 16px 0 rgba(0,0,0,0.24);
    background-color: rgb(40, 35, 179);
    padding:  10px 20px ;
    transition: 0.3s;
    border-radius: 7px;
    
}


#ad{
    padding-bottom:0;
    display: block; 
    color: white;
}

i{
    font-size: 14px;
}

footer{
    padding: 20px;
    align-self: center;
    align-content: center;
    text-align: center;
    background-color: #245CA7;
    color: azure;
}

@media (max-width:360px){
    .form-tercero{
        font-size: small;
        background-color: yellow;
    }

    .chart{
        background: white;
    }

    #myChart{
        height: 200px;
    }
}